workflow/stripe-event-workflow/artifact/statemachine.asl.json
{
  "Comment": "A state machine that does mock stock trading.",
  "StartAt": "First state",
  "States": {
    "First state": {
      "Type": "Pass",
      "Next": "Pass"
    },
    "Pass": {
      "Type": "Pass",
      "Next": "Lambda Invoke",
      "Parameters": {
        "Value.$": "States.Hash($.detail.data.object.payment_intent, 'SHA-1')"
      },
      "ResultPath": "$.Hash"
    },
    "Lambda Invoke": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:704982529207:function:sample-transcription-service-workflow-PresignedUrl-LmcHZhwz8WRn:$LATEST",
        "Payload": {
          "Bucket": "upload.sample-transcription-service",
          "Key.$": "$.Hash.Value"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Lambda Invoke (1)",
      "ResultPath": "$.Url",
      "ResultSelector": {
        "Data.$": "$.Payload"
      }
    },
    "Lambda Invoke (1)": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:704982529207:function:sample-transcription-service-workflow-1-Stripe-h51v3lHBIpqY:$LATEST",
        "Payload": {
          "PaymentIntentId.$": "$.detail.data.object.payment_intent"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "ResultPath": "$.ProductName",
      "ResultSelector": {
        "Data.$": "$.Payload"
      },
      "Next": "CopyObject"
    },
    "CopyObject": {
      "Type": "Task",
      "Parameters": {
        "Bucket": "website.sample-transcription-service",
        "CopySource": "website.sample-transcription-service/index.html",
        "Key.$": "States.Format('{}/index.html', $.Hash.Value)"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:copyObject",
      "Next": "CopyObject (1)",
      "ResultPath": "$.co1"
    },
    "CopyObject (1)": {
      "Type": "Task",
      "Parameters": {
        "Bucket": "website.sample-transcription-service",
        "CopySource": "website.sample-transcription-service/logo192.png",
        "Key.$": "States.Format('{}/logo192.png', $.Hash.Value)"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:copyObject",
      "Next": "CopyObject (2)",
      "ResultPath": "$.co1"
    },
    "CopyObject (2)": {
      "Type": "Task",
      "Parameters": {
        "Bucket": "website.sample-transcription-service",
        "CopySource": "website.sample-transcription-service/logo512.png",
        "Key.$": "States.Format('{}/logo512.png', $.Hash.Value)"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:copyObject",
      "Next": "CopyObject (3)",
      "ResultPath": "$.co1"
    },
    "CopyObject (3)": {
      "Type": "Task",
      "Parameters": {
        "Bucket": "website.sample-transcription-service",
        "CopySource": "website.sample-transcription-service/manifest.json",
        "Key.$": "States.Format('{}/manifest.json', $.Hash.Value)"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:copyObject",
      "Next": "CopyObject (4)",
      "ResultPath": "$.co1"
    },
    "CopyObject (4)": {
      "Type": "Task",
      "Parameters": {
        "Bucket": "website.sample-transcription-service",
        "CopySource": "website.sample-transcription-service/robots.txt",
        "Key.$": "States.Format('{}/robots.txt', $.Hash.Value)"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:copyObject",
      "Next": "CopyObject (5)",
      "ResultPath": "$.co1"
    },
    "CopyObject (5)": {
      "Type": "Task",
      "Parameters": {
        "Bucket": "website.sample-transcription-service",
        "CopySource": "website.sample-transcription-service/favicon.ico",
        "Key.$": "States.Format('{}/favicon.ico', $.Hash.Value)"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:copyObject",
      "Next": "CopyObject (6)",
      "ResultPath": "$.co1"
    },
    "CopyObject (6)": {
      "Type": "Task",
      "Parameters": {
        "Bucket": "website.sample-transcription-service",
        "CopySource": "website.sample-transcription-service/asset-manifest.json",
        "Key.$": "States.Format('{}/asset-manifest.json', $.Hash.Value)"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:copyObject",
      "ResultPath": "$.co1",
      "Next": "Lambda Invoke (2)"
    },
    "Lambda Invoke (2)": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:704982529207:function:sample-transcription-service-wo-UpdatePresignedUrl-WWqGKAlFsNXh:$LATEST",
        "Payload": {
          "Bucket": "website.sample-transcription-service",
          "Key.$": "States.Format('{}/index.html', $.Hash.Value)",
          "PreSignUrl.$": "$.Url.Data.Url"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "ResultPath": "$.Cp",
      "ResultSelector": {
        "Data.$": "$.Payload"
      },
      "Next": "SendEmail"
    },
    "SendEmail": {
      "Type": "Task",
      "Parameters": {
        "FromEmailAddress": "ito+test001@hugtech.io",
        "Destination": {
          "ToAddresses.$": "States.Array($.detail.customer_details.email)"
        },
        "Content": {
          "Simple": {
            "Subject": {
              "Data": "[sample-transcribe-servcie] Your audio file is ready for upload",
              "Charset": "UTF-8"
            },
            "Body": {
              "Text": {
                "Charset": "UTF-8",
                "Data.$": "States.Format('Thank you! Please upload media via link: http://website.sample-transcription-service.s3-website-us-east-1.amazonaws.com/{}/index.html', $.Hash.HashValue)"
              }
            }
          }
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:sesv2:sendEmail",
      "ResultPath": "$.Mail",
      "Next": "DynamoDB PutItem"
    },
    "DynamoDB PutItem": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "purchase",
        "Item": {
          "purchase_id": {
            "S.$": "$.Hash.HashValue"
          },
          "email": {
            "S.$": "$.detail.customer_details.email"
          }
        }
      },
      "End": true,
      "ResultPath": "$.Put"
    }
  }
}